<div class="ql-container ql-bubble" data-cu-entity-id="8cjjxvq-1852" data-dashlane-invisible="true" style="position: relative;">
  <div class="ql-editor ql-cls-checklist ql-reduce-empty-line-height ql-column-ux-v2-enabled focus-visible"
       contenteditable="true" data-placeholder="Write something or type '/' for commands">
    <div class="ql-block" data-block-id="block-252c42d9-7ecd-4e58-b81b-d633bbe4cd1e">witam</div>
    <div class="ql-block" data-block-id="block-5f945c26-a4e9-4e6d-869d-abec6f2505c1"><strong>serdecznie</strong></div>
    <div class="ql-block" data-block-id="block-d2a81d67-5eae-46af-9ba8-50835910fc63">co <em>tam</em></div>
    <div class="ql-block" data-block-id="block-be7b6dfa-24eb-427f-91f9-09f35db5e056"><br></div>
  </div>
</div>
