html {
  font-family: system-ui,
}

//// <uniquifier>: Use a unique and descriptive class name
//// <weight>: Use a value from 100 to 900
//
//.raleway-<uniquifier> {
//            font-family: "Raleway", sans-serif;
//            font-optical-sizing: auto;
//            font-weight: <weight>;
//            font-style: normal;
//          }


body {
  background: #252525;
  margin: 60px;
  padding: 0px;
}

.ql-container.ql-snow {
  background: white;
  box-shadow: none !important;
  border: none !important;
  border-radius: 10px !important;
  padding: 18px !important;
}

.ql-editor {
  background: white;
  padding: 0px !important;
}

.ql-editor .block {
  font-size: 16px;
}

.editor-container {
  height: 825px;
}

.ql-editor .block,
.ql-editor h1,
.ql-editor h2,
{
  margin-bottom: 0px !important;
  padding: 3px !important;
  //border: 1px solid #dddddd !important;
}

.slash-popup {
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  z-index: 1000;
  min-width: 150px;
}

.slash-item {
  padding: 8px 12px;
  cursor: pointer;
}

h1 {
  display: flex;
  margin: 0;
  margin-bottom: 25px;
}

.ql-color-red { color: #FF0000; }
.ql-color-blue { color: #0000FF; }
.ql-color-green { color: #00FF00; }
.ql-color-yellow { color: #FFFF00; }
.ql-color-purple { color: #FF00FF; }
.ql-color-cyan { color: #00FFFF; }
.ql-color-black { color: #000000; }

.tbbbb {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}

mat-snack-bar-container {
  background: #ffc9c9 !important;
}
